{% extends "layout.html" %}
{% load humanize %}

{% block title %} สั่งซื้อสินค้า {% endblock %}

{% block content %}
<!-- เนื้อหา (Content) -->
<section class="content2 cid-tsEQSCqggh my-5" id="content2-2">
        <div class="container my-5">
            <div class="mt-1">
                <!-- Checkout Panel Information-->
                <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-4">
                    <h3 class="fs-5 fw-bolder m-0 lh-1">ข้อมูลการจัดส่งสินค้า</h3>
                </div>
                <div class="row">
                    <form method="POST">
                    {% csrf_token %}
                    <!-- Full Name-->
                    <div class="col-12">
                        <div class="form-group">
                            <label for="fullname" class="form-label">ชื่อ-นามสกุล</label>
                            <input type="text" class="form-control" name="fullname" required>
                        </div>
                    </div>
                    <!--Phone-->
                    <div class="col-12">
                        <div class="form-group">
                            <label for="phone" class="form-label">เบอร์ติดต่อ</label>
                            <input type="tel" class="form-control" name="phone" required>
                        </div>
                    </div>
                 <!-- Address-->
                    <div class="col-12">
                        <div class="form-group">
                            <label for="address" class="form-label">ที่อยู่</label>
                            <input type="text" class="form-control" name="address" required></input>
                        </div>
                    </div>
                </div>
                <div class="col-auto mbr-section-btn align-center">
                    <button type="submit" class="btn btn-primary display-4">สั่งซื้อสินค้า</button>
                </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}